{% load url from future %}
{% load staticfiles %}

<div class="content-header">
    <h2>{{club_seat_activity.activity.name}}</h2>
    <hr>
    <p><strong>{{ club_seat_activity_places|length }}</strong> resultados</p>
</div>
{% for club_seat_activity_place_tmp in club_seat_activity_places %}
    <div class="panel panel-default box-item" id="club_seat_activity_places_{{ club_seat_activity_place_tmp.id }}">

        <div class="panel-body box-opacity box-opacity-item">
                 </br>
            <h3>{{ club_seat_activity_place_tmp.name }}</h3>
            <form action="{% url 'reservation_make' %}" method="post">
                <input type="hidden" id="startIndex"/>
                <input type="hidden" id="clickState" value="0"/>
                <br/>
                <ul>
                    {% for reservation in club_seat_activity_place_tmp.reservations_week %}
                        <li>Ocupado el {{ reservation.date }} - {{ reservation.start_time|time:'H:i' }}
                            - {{ reservation.end_time|time:'H:i' }} </li>
                    {% endfor %}
                </ul>
                <br/>
                <script>
                    $(function () {
                        var $table = $('#vCalendar #club_seat_activity_places_{{ club_seat_activity_place_tmp.id }}');
                        {% for reservation_tmp in club_seat_activity_place_tmp.reservations_week %}
                            var date = '{{ reservation_tmp.date|date:'Y-m-d' }}';
                            var startTime = '{{ reservation_tmp.start_time|time:'H:i' }}';
                            var endTime = '{{ reservation_tmp.end_time|time:'H:i' }}';
                            var reservedByCurrentUser = false;
                            {% if reservation_tmp.user_id == request.user.id %}
                                reservedByCurrentUser = true;
                            {% endif %}

                            var $tr;
                            $table.find('.default').each(function () {
                                if ($(this).attr('data-target') == date) {
                                    $tr = $($(this).parent());
                                }
                            });

                            var $start_time, $end_time;
                            $tr.children('td').each(function () {
                                var $td = $(this);
                                var start_time_tmp = getStartTimeFromTd($td);
                                var end_time_tmp = getEndTimeFromTd($td);
                                if (startTime == start_time_tmp) {
                                    $start_time = $td;
                                }
                                if (endTime == end_time_tmp) {
                                    $end_time = $td;
                                }
                            });
                            var cell_start_index = $tr.children().index($start_time);
                            var cell_end_index = $tr.children().index($end_time);

                            for (var i = cell_start_index; i <= cell_end_index; i++) {
                                $($tr.children()[i]).addClass('not_empty');
                                if (reservedByCurrentUser) {
                                    $($tr.children()[i]).text('tu');
                                }
                            }
                        {% endfor %}
                        $table.find('tr td').each(function () {
                            if (!$(this).hasClass('default') && !$(this).hasClass('not_empty')) {
                                $(this).addClass('empty');
                            }
                        });
                    });
                </script>
                <div class="table-responsive">
                    <table class="table table-bordered box-table-calendar">
                        <thead>
                        <tr style="height: 90px;">
                            <th>
                                Dia
                            </th>
                            <th>
                                <a>9:00 - 9:30</a>
                            </th>
                            <th>
                                <a>9:30 - 10:00</a>
                            </th>
                            <th>
                                <a>10:00 - 10:30</a>
                            </th>
                            <th>
                                <a>10:30 - 11:00</a>
                            </th>
                            <th>
                                <a>11:00 - 11:30</a>
                            </th>
                            <th>
                                <a>11:30 - 12:00</a>
                            </th>
                            <th>
                                <a>12:00 - 12:30</a>
                            </th>
                            <th>
                                <a>12:30 - 13:00</a>
                            </th>
                            <th>
                                <a>13:00 - 13:30</a>
                            </th>
                            <th>
                                <a>13:30 - 14:00</a>
                            </th>
                            <th>
                                <a>14:00 - 14:30</a>
                            </th>
                            <th>
                                <a>14:30 - 15:00</a>
                            </th>
                            <th>
                                <a>15:00 - 15:30</a>
                            </th>
                            <th>
                                <a>15:30 - 16:00</a>
                            </th>
                            <th>
                                <a>16:00 - 16:30</a>
                            </th>
                            <th>
                                <a>16:30 - 17:00</a>
                            </th>
                            <th>
                                <a>17:00 - 17:30</a>
                            </th>
                            <th>
                                <a>17:30 - 18:00</a>
                            </th>
                            <th>
                                <a>18:00 - 18:300</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dayTmp in days %}
                            <tr>
                                <td class="default" data-target="{{ dayTmp|date:'Y-m-d' }}">{{ dayTmp|date:'D, d/m/y' }}</td>
                                <td data-target="09:00_09:30"></td>
                                <td data-target="09:30_10:00"></td>
                                <td data-target="10:00_10:30"></td>
                                <td data-target="10:30_11:00"></td>
                                <td data-target="11:00_11:30"></td>
                                <td data-target="11:30_12:00"></td>
                                <td data-target="12:00_12:30"></td>
                                <td data-target="12:30_13:00"></td>
                                <td data-target="13:00_13:30"></td>
                                <td data-target="13:30_14:00"></td>
                                <td data-target="14:00_14:30"></td>
                                <td data-target="14:30_15:00"></td>
                                <td data-target="15:00_15:30"></td>
                                <td data-target="15:30_16:00"></td>
                                <td data-target="16:00_16:30"></td>
                                <td data-target="16:30_17:00"></td>
                                <td data-target="17:00_17:30"></td>
                                <td data-target="17:30_18:00"></td>
                                <td data-target="18:00_18:30"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="club_seat_activity_places{{ club_seat_activity_place_tmp.id }}_message">
                    <div class="pull-left label-reservar"><p>Reservar {{ club_seat_activity_place_tmp.name }} el día </p></div>
                    <input type="date"  id="date" class="form-control control-booking-date pull-left" name="date"
                                  value="{{ day|date:'Y-m-d' }}" readonly/>
                    <div class="pull-left label-reservar"><p> desde las </p></div>
                    <input type="text" class="form-control control-booking-time pull-left " name="start_time"
                                     id="startTime" placeholder="__:__" readonly/>
                     <div class="pull-left label-reservar"><p>hasta las </p></div>
                    <input type="text" class="form-control control-booking-time pull-left " name="end_time" id="endTime"
                                     readonly placeholder="__:__"/>
                </div>
                {% csrf_token %}
                <input type="hidden" id="previousRow"/>
                <input type="hidden" name="clubSeatActivityPlace" value="{{ club_seat_activity_place_tmp.id }}"/>
                <input type="hidden" name="user" value="{{ request.user.id }}"/>

                <div class="pull-right">
                            <button type="submit" class="btn btn-default form-control">Confirmar reservación</button>
                </div>
            </form>
        </div>
    </div>
{% endfor %}
<script>

    var SELECTED_NONE = 0;
    var SELECTED_FIRST = 1;
    var SELECTED_SECOND = 2;

    $('#vCalendar tr').on('click', 'td.empty', function () {
        var $td = $(this);
        var $tr = $($td.parent());
        var panel_id = $($td.parents('.panel-default')).attr('id');
        var $clubActivityPlace = $('#vCalendar #' + panel_id);
        var $clickState = $clubActivityPlace.find('#clickState');
        var $date = $clubActivityPlace.find('#date');
        var $startIndex = $clubActivityPlace.find('#startIndex');
        var startIndex = $startIndex.val();
        var endIndex, lastIndex, tmp;

        $date.val(getDateForCurrentRow($tr));

        if ($clickState.val() > SELECTED_FIRST) {
            $clubActivityPlace.find('.empty.selected').removeClass('selected');
            $clickState.val(SELECTED_NONE);
            setStartTime($clubActivityPlace);
            setEndTime($clubActivityPlace);
        }

        if ($clickState.val() == SELECTED_NONE) {
            startIndex = $tr.children().index($td);
            setStartTime($clubActivityPlace, getStartTimeFromTd($td));
            setEndTime($clubActivityPlace, getEndTimeFromTd($td));
            setPreviousRow($clubActivityPlace, getIndexOfElement($tr));
        }

        if ($clickState.val() == SELECTED_FIRST) {
            var previousRow = getPreviousRow($clubActivityPlace);
            var currentRow = getIndexOfElement($tr);
            if (previousRow != currentRow) {
                removeSelectedCells($clubActivityPlace);
                setStartTime($clubActivityPlace, getStartTimeFromTd($td));
                setEndTime($clubActivityPlace, getEndTimeFromTd($td));
                setPreviousRow($clubActivityPlace, getIndexOfElement($tr));
                $clickState.val(SELECTED_NONE);
                startIndex = $tr.children().index($td);
            } else {

                endIndex = $tr.children().index($td);
                lastIndex = endIndex;
                if (endIndex < startIndex) {
                    tmp = startIndex;
                    startIndex = endIndex + 1;
                    endIndex = tmp;
                    setEndTime($clubActivityPlace, getEndTime($clubActivityPlace));
                    setStartTime($clubActivityPlace, getStartTimeFromTd($td));
                } else {
                    setEndTime($clubActivityPlace, getEndTimeFromTd($td));
                }

                startIndex = createOrCleanPeriodTime($tr, startIndex, endIndex);
                if (startIndex == -1) {
                    startIndex = lastIndex;
                    setStartTime($clubActivityPlace, getStartTimeFromTd($td));
                    setEndTime($clubActivityPlace, getEndTimeFromTd($td));
                    $clickState.val(SELECTED_NONE);
                }
            }
        }

        tmp = $clickState.val();
        if ($td.hasClass('selected')) {
            tmp--;
            $td.removeClass('selected');
        } else {
            tmp++;
            $td.addClass('selected');
        }
        $clickState.val(tmp);

        $startIndex.val(startIndex);


        function getDateForCurrentRow($tr) {
            var $td_date = $($tr.children()[0]);
            var data_target = $td_date.attr('data-target');
            return data_target;
        }

        function getIndexOfElement($element) {
            return $element.parent().children().index($element);
        }

        function setPreviousRow($element, val) {
            $element.find('#previousRow').val(val);
        }

        function getPreviousRow($element) {
            return $element.find('#previousRow').val();
        }

    });

    function getEndTime($element) {
        return $element.find('#endTime').val();
    }

    function setEndTime($element, text) {
        if (text === undefined) {
            text = '__:__';
        }
        $element.find('#endTime').val(text);
    }

    function setStartTime($element, text) {
        if (text === undefined) {
            text = '__:__';
        }
        $element.find('#startTime').val(text);
    }

    function getEndTimeFromTd($td) {
        var text = $td.attr('data-target')
        text = text.substr(6);
        return text;
    }

    function getStartTimeFromTd($td) {
        var text = $td.attr('data-target')
        text = text.substr(0, 5);
        return text;
    }

    function removeSelectedCells($selector) {
        $selector.find('.empty.selected').removeClass('selected');
    }

    function createOrCleanPeriodTime($tr, fromIndex, toIndex) {
        for (var i = fromIndex; i < toIndex; i++) {
            var cell_recording = $($tr.children()[i]);
            if (cell_recording.hasClass('not_empty')) {
                var $table = $tr.parents('table');
                removeSelectedCells($table);
                return -1;
            }
            cell_recording.addClass('selected');
        }
        return fromIndex;
    }
</script>